.isTripEnded {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.planSection {
  /* background-color: gray; */
  grid-area: a;
  display: flex;
}
.mapSection {
  /* background-color: green; */
  grid-area: b;
  margin-top: 1rem;
}
.weatherSection {
  /* background-color: bisque; */
  /* margin-top: 1rem; */
  grid-area: c;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.expenseSection {
  /* background-color: aqua; */
  grid-area: d;
}
.progressSection {
  /* background-color: blueviolet; */
  grid-area: e;
}
.endTripButton {
  color: white;
  background-color : #373737;
  font-size: 1.5rem;
  border-radius: 10px;
  margin: 5px;
  font-weight: bold;
  grid-area: f;
}

.gridContainer {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-areas:
    "a a b b b d"
    "a a b b b d"
    "a a b b b c"
    "a a b b b c"
    "e e e e e f";
  grid-template-rows: 4fr 4fr 4fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

@media (max-width: 768px) {
  .gridContainer {
    height: auto;
    display: grid;
    grid-template-areas:
      "a a a a a a"
      "b b b b b b"
      "c c c c d d"
      "e e e e e e"
      "f f f f f f";
    grid-template-rows: 1fr 1fr 0.25fr 0.25fr 0.25fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }
}
