.weatherWidget {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: black;
  font-weight: 100;
  transition: background 0.3s ease;
}

.weatherHeader {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.location-name {
  font-size: 2.25rem;
}

.location-region {
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.condition-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  height: 50%;
}

.temperature-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.current-temp {
  font-size: 3rem;
}

.feels-like {
  font-size: 1.125rem;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  font-size: 0.7rem;
}

.weather-icon {
  margin-left: 8px;
  font-size: 1.1em;
}

.detail-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.label {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .weatherWidget {
    flex-direction: column;
  }
}
