.searchDestinations {
  padding: 15px;
  display: flex;
  flex-direction: column;
  /* width: auto; */
  max-width: 100%;
  overflow: hidden;
}

.search-results {
  display: flex;
  width: 100%;
  margin-right: auto; 
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 1em;
  padding: 1.2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 900px) {
  .searchDestinations{
    width: 100%;
  }
  .search-results {
    flex-direction: column;
  }
}