.searchDestinations {
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: auto;
  overflow: hidden; /*!!!*/
}

.search-results {
  display: flex;
  width: 100%;
  margin: 20px auto; /* Center the container */
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 900px) {
  .searchDestinations{
    width: 100%;
  }
  .search-results {
    flex-direction: column;
  }
}