.carousel {
  text-align: center;
}

.carousel-wrapper {
  position: relative;
  /* width: 80%; */
  padding: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  /* background-color: red;  */
}

.carousel-images {
  position: relative;
  height: auto; /* Adjust height automatically based on image */
  overflow: hidden;
  margin: 8px 0;
}

.carousel-img {
  border-radius: 1rem;
  width: 400px;
  height: 300px; /* Adjust for consistent height */
  object-fit: cover; /* Ensures the image is properly cropped */
  opacity: 0;
  transition: 2s ease-in-out;
}

.carousel-img.active {
  opacity: 1;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px;
  z-index: 100;
  border-radius: 50%; 
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-btn.prev {
  left: 80px;
}

.carousel-btn.next {
  right: 80px;
}

.carousel-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

.searchedCityName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.searchedCityDescription {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}
