.navbar {
  background-color: black;
  height: 3.3rem;
  color: #ffeac5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hamicon {
  margin: 1rem;
  transition: transform 0.2s ease;
}

.hamicon:hover {
  transform: scale(1.1);
}

.websiteName {
  margin-right: auto;
  margin-left: 1.5rem;
  font-weight: 500;
  transition: transform 0.2s ease;
}

.websiteName:hover {
  cursor: pointer;
  transform: translateY(-1px);
}

.usericon {
  margin: 1rem;
  transition: transform 0.2s ease;
}

.usericon:hover {
  transform: scale(1.1);
}

.loginSignupBtn {
  background-color: #ffeac5;
  color: #603f26;
  font-weight: 700;
  font-size: medium;
  padding: 0.5rem 1rem;
  border: solid 1px transparent;
  border-radius: 2rem;
  margin: 1.5rem;
  margin-left: auto;
  transition: all 0.2s ease;
}

.loginSignupBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: transparent;
  color: #ffeac5;
  border-color: #ffeac5;
}

.profile-container {
  position: relative;
  margin-right: 1.5rem;
  margin-left: auto;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: hsl(0, 0%, 12%);
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  z-index: 1000;
  transform-origin: top;
  animation: dropdownAnimation 0.3s ease forwards;
}

@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.dropdown-item {
  animation: fadeIn 0.3s ease forwards;
  animation-delay: calc(var(--item-index) * 0.1s);
  opacity: 0;
  padding: 1rem;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
