/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Document Setup */
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

/* Layout */
.main-body {
  display: flex;
  height: calc(100vh - 3rem);
  margin: 3px;
  overflow: hidden;
}

/* Navigation */
.navbar {
  background-color: #603f26;
  height: 3rem;
  color: #ffeac5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hamicon {
  margin: 1rem;
}
.websiteName {
  margin-right: auto;
}

.loginSignupBtn {
  background-color: #ffeac5;
  color: #603f26;
  font-weight: 700;
  font-size: small;
  padding: 0.3rem;
  border: solid 1px white;
  border-radius: 2rem;
  margin: 1rem;
  margin-left: auto;
  transition: transform 0.2s ease;
}

.loginSignupBtn:hover {
  cursor: pointer;
  border: solid 2px white;
  transform: scale(1.15);
}

/* Search Section */
.search-container {
  width: 65%;
  flex: 1;
  margin: 5px;
  background-color: #ffeac5;
  border: 2px solid black;
  border-radius: 1em;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0.5em;
  flex-wrap: wrap;
}

.currentCity,
.filters,
.searchBtn,
#searchbar {
  padding: 0.3em 0.6em;
  margin: 0.2em 0.7em;
  border: 1px solid black;
  border-radius: 3rem;
  background-color: white;
  flex: 0.5;
  text-align: center;
  font-size: small;
  font-weight: 600;
  transition: transform 0.2s ease;
}

#searchbar {
  flex: 1.5;
}

.currentCity:hover,
.filters:hover,
.searchBtn:hover,
#searchbar:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* Featured Section */
