.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000000;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease-in-out;
}

.popup-container {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 400px;
  max-width: 75vw;
  box-shadow: 0 10px 25px rgba(96, 63, 38, 0.2);
  text-align: center;
  color: black;
  transform: translateY(0);
  /* animation: popIn 0.5s ease-out; */
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

form div {
  margin-bottom: 20px;
  text-align: left;
}

form input {
  width: 100%;
  padding: 12px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-size: 16px;
}

form input:focus {
  border-color: black;
  box-shadow: 0 0 0 2px rgba(96, 63, 38, 0.1);
  outline: none;
}

form button {
  background-color: black;
  color: white;
  font-weight: 600;
  transition: transform 0.2s ease;
}

form button:hover {
  transform: translateY(-2px);
}

button {
  margin-top: 15px;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

button.close-btn {
  /* background: linear-gradient(to right, #f44336, #ff5252); */
  /* margin-top: 20px; */
  color: black;
  position: absolute;
  top: -15px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0px;
}
button.switch-btn {
  background: linear-gradient(to right, #007bff, #00b0ff);
  color: white;
  position: relative;
  overflow: hidden;
}

button.switch-btn:hover::after {
  transform: translate(-50%, -50%) scale(2);
}

button:hover {
  opacity: 0.9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

button.close-btn:hover{
  box-shadow: none;
  transform: scale(1.2);
}
button:active {
  transform: scale(0.98);
}
